<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th> Gender </th>
      <th> UID </th>
      <th> Provider </th>
      <th> Image </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @users = instance_variable_get("@" + provider + "_users") %>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.name %> </th>
        <td><%= user.email %></td>
        <td><%= user.gender %> </td>
        <td><%= user.uid %></td>
        <td><%= user.provider %></td>
        <td>
        <% if user.image.present? %>
          <%= image_tag user.image, width: 50, height: 50 %>
        <% end %>
        </td>
        <td><%= link_to "Show details", user_path(user) %></td>
      </tr>
    <% end %>

  </tbody>
</table>

 <%= link_to "Export To CSV", users_path(provider: provider, format: :csv),class: "btn btn-info" %>
 <%= link_to "Download PDF",users_path(provider: provider, format: :pdf), class: "btn btn-success" %>

