<div class="panel with-nav-tabs panel-info">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li class="active" ><a data-toggle="pill" href="#facebook">Facebook</a></li>
      <li><a data-toggle="pill" href="#twitter">Twitter</a></li>
      <li><a data-toggle="pill" href="#google">Google</a></li>
      <li><a data-toggle="pill" href="#instagram">Instagram</a></li>
      <li><a data-toggle="pill" href="#other">Other</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div id="facebook" class="tab-pane fade in active">
        <%= render partial: 'users', :locals =>  { provider: "facebook"} %>
      </div>
      <div id="twitter" class="tab-pane fade">
        <%= render partial: 'users', :locals =>  { provider: "twitter"} %>
      </div>
      <div id="google" class="tab-pane fade">
        <%= render partial: 'users', :locals => { provider: "google"} %>
      </div>
      <div id="instagram" class="tab-pane fade">
        <%= render partial: 'users', :locals =>  { provider: "instagram"} %>
      </div>
       <div id="other" class="tab-pane fade">
        <%= render partial: 'users', :locals =>  { provider: "other"} %>
      </div>
    </div>
  </div>
</div>
